<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html ng-app="VK">
    <head>
        <title>Manage Verifiers</title>
        <meta charset="windows-1252">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <script src="js/angular.js"></script>
        <script src="js/angular-resource.js"></script>
        <script src="js/ngStorage.js"></script>
        <script src="js/VK.js"></script>
        <link rel="stylesheet" href="css/style.css">
    </head>
    <body ng-controller="UserController as userCtrl">
        <div ng-include="'topmenu.html'"></div>
        <div >
			  <table data-ng-repeat="user in userCtrl.users">
				  <thead >
				  <th>Name</th>
				  <th>Department</th>
				  <th>Field of Research</th>
				  </thead>
				  <tr ng-controller="AdminController as adminCtrl">
					  <td>{{user.firstName}} {{user.lastName}}</td>
					  <td>{{user.deptName}}</td>
					  <td>{{user.fieldResearch}}</td>
					  <td>
						  <button ng-click="adminCtrl.updateVerifier(user)">Promote</button>
					  </td>
					  <td ng-if="user.roleId != 1">
						  <button ng-click="adminCtrl.demoteVerifier(user)">Demote</button>
					  </td>
				  </tr>
			  </table>
		  </div>
    </body>
</html>
