<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html ng-app="searching">
    <head>
        <title>TODO supply a title</title>
        <meta charset="windows-1252">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <script src="js/angular.js"></script>
        <script src="js/angular-resource.js"></script>
        <script src="js/ngStorage.js"></script>
        <script src="js/VK.js"></script>
        <script src='js/search.js'></script>
    </head>
    <body>
        <div ng-include="'topmenu.html'"></div>
        <div class="mainbody">
            <div class="fillbody">
                <h1>Search</h1>
                <hr>
                <div class="search" ng-controller="SearchController as searchCtrl">
                    <form id = "searchCtrl.searchFunction()" >
                        <select id='searchBy' name="dropdown" ng-model="SearchType" class="searchselect">
                            <option value="author">Author</option>
                            <option value="title">Title</option>
                            <option value="contributor">Contributor</option>
                        </select>
                        <input ng-model="SearchInfo" id="SearchInput" name="SearchInput" type='text' placeholder='Search...' id="SearchInput">
                        <button id="SButton" type="button" class="searchbutton">Search</button>
                    </form>

                    <button ng-click = "order = 'Title'" class="searchbutton, topmargin">Title</button>
                    <button ng-click = "order = 'Abstract'" class="searchbutton, topmargin">Author</button>
                    <button ng-click = "order = 'Keyword'" class="searchbutton, topmargin">Date</button>


                    <p> Search Results for {{SearchInfo}}</p>
                    <ul>
                        <li ng-repeat = "message in messages | orderBy: order">
                            {{message.Title}} - {{message.Abstract}} - {{message.Date}}
                        </li>
                    </ul>
                </div>
            </div>
        </div>


    </body>
</html>
