<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html ng-app="searching">
    <head>
        <title>TODO supply a title</title>
        <meta charset="windows-1252">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <script src="js/angular.js"></script>
        <script src="js/angular-resource.js"></script>
        <script src="js/ngStorage.js"></script>
        <script src="js/VK.js"></script>
        <script src='js/search.js'></script>
     </head>
    <body>
        <div ng-include="'topmenu.html'"></div>
        <hr>
        <div align='center' style='margin: 100px;' ng-controller="searchCtrl as SearchController">
            <form id = "searchCtrl.searchFunction()" >
                <select id='searchBy' style='height: 35px;' name="dropdown" ng-model="SearchType">
                <option value = "author">Author</option>
                <option value = 'title'>Title</option>
                <option>Contributor</option>
            </select>
            <input ng-model="SearchInfo" id="SearchInput" name="SearchInput" type='text' placeholder='Search...' style='width: 50%; height: 30px;'>
            <button id="SButton" type="button" style='height:35px'>Search</button>
            </form>

            <button ng-click = "order = 'Title'">Title</button>
            <button ng-click = "order = 'Abstract'">Author</button>
            <button ng-click = "order = 'Keyword'">Date</button>


            <p> Search Results for {{SearchInfo}}</p>
            <ul>
            <li ng-repeat = "message in messages | orderBy: order">
                {{message.Title}} - {{message.Abstract}} - {{message.Date}}
            </li>
            </ul>

            <button type="button" onclick="getProducts()">Click Me!</button>         </div>

    
    </body>
</html>
