<!DOCTYPE html>
<html ng-app="VK">
    <head>
        <title>Sign In</title>
        <meta charset="windows-1252">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <script src="js/angular.js"></script>
        <script src="js/angular-resource.js"></script>
        <script src="js/ngStorage.js"></script>
        <script src="js/VK.js"></script>
        <link rel="stylesheet" href="css/style.css">
    </head>
    <body ng-controller="UserController as userCtrl">
        <div ng-include="'topmenu.html'"></div>
        <div class="mainbody">
            <div class="fillbody">
                <h1>Sign In</h1>
                <hr>
                <!--<p>{{custCtrl.signInMessage}}</p>-->
                <form ng-submit="userCtrl.signin(username, password)" class='login-form'>
                    <fieldset>
                        <legend align='left'>Account Details</legend>
                        <label for='uname'>Username:</label>
                        <input type="text" ng-model="username" required>
                        <br><br>
                        <label for='pword'>Password:</label>
                        <input type="password" ng-model="password" required>
                        <br><br>
                        <button type='submit' class="raise, btn">Sign In</button>
                        <br>
                        <p class="centerp">
                            <a href='resetpassword.html' class="centera">Forgot Password?</a>
                        </p>
                    </fieldset>
                </form>
                <p class="centerp">Don't have an account? <a href=signup.html id="signuplink">Sign up</a> here</p>

            </div>
        </div>
    </body>
</html>
