<!DOCTYPE html>
<head>
    <link rel="stylesheet" href="css/style.css"/>
</head>
<div id="menu" ng-controller="UserController as userCtrl" ng-init="userCtrl.checkSignIn()">
    <a href="home.html"> 
        <img src="images/logo.png" id="logo" alt="logo of Versitile Knowledge">
    </a>
    <a class="amenu" href="home.html"> Home</a>
    <a class="amenu" href="search.html">Search</a>
    <a class="amenu" href="about.html">About</a>
    <a class="amenu" href="contactinfo.html">Contact Us</a>
    <a class="amenu" href="marked.html" ng-if="userCtrl.signedIn">Marked</a>
    <a class="amenu" href="history.html" ng-if="userCtrl.signedIn">History</a>
    <a class="amenu" href='alerts.html' ng-if="userCtrl.signedIn">Alerts</a>
    <a class="amenu" href="uploadArticle.html" ng-if="userCtrl.signedIn">Upload</a>
    <a class="amenu" href="verifyArticle.html" ng-if="userCtrl.signedIn && !userCtrl.isCont"> Verify</a>
    <a class="amenu" href='manageVerifier.html' ng-if="userCtrl.signedIn && userCtrl.isAdmin"> Manage Verifiers </a>


    <a class="sign_menu" href="home.html" ng-if="userCtrl.signedIn" ng-click="userCtrl.signOut()"><button type='button' class="sign_menu">Sign Out</button></a>
    <a class="sign_menu" href="signin.html" ng-if="!userCtrl.signedIn"><button type='button' class="sign_menu">Sign In</button></a>
    <div class="sign_menu" id='welcome'>{{userCtrl.welcome}}   </div>
</div>
