<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<!--<link rel="stylesheet" href="css/style.css">-->
<div id="menu" ng-controller="UserController as userCtrl" ng-init="userCtrl.checkSignIn()">
    
   <a href="home.html" class='others'>Search</a>
   <a href="marked.html" ng-if="userCtrl.signedIn">Marked</a>
   <a href="history.html" ng-if="userCtrl.signedIn">History</a>
   <a href='alerts.html' ng-if="userCtrl.signedIn">Alerts</a>
   <a href="uploadArticle.html" ng-if="userCtrl.signedIn" ng-if="">Upload</a>
   
   <a href="home.html" ng-if="userCtrl.signedIn" ng-click="userCtrl.signOut()" style="float: right;"><button type='button'>Sign Out</button></a>
   <a href="signin.html" ng-if="!userCtrl.signedIn" style="float: right;"><button type='button'>Sign In</button></a>
   <div id='welcome' style="float: right; ">{{userCtrl.welcome}}   </div>
</div>
