<!DOCTYPE html>
<html ng-app="VK">
    <head>
        <title>Upload Article</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <script src="js/angular.js"></script>
        <script src="js/angular-resource.js"></script>
        <script src="js/ngStorage.js"></script>
        <script src="js/VK.js"></script>
        <link rel="stylesheet" href="css/style.css">
    </head>

    <body>
        <div ng-include="'topmenu.html'"></div>
        <div class="mainbody">
            <div class="fillbody">
                <h1> Upload Article </h1>
                <hr>
                <form ng-controller="ArticleController as artCtrl" ng-submit="artCtrl.uploadArticle(article)"  class="login-form">
                    <fieldset>
                        <legend align='left'>Article Details</legend>
                        <label for=“file”>File:</label>
                        <input type="file" ng-model="article.file" required>
                        <br>

                        <label for=“title”>Title:</label>
                        <input type="text" ng-model="article.title" required>
                        <br>

                        <label for=“keywords”>Keyword:</label>
                        <input type="text" ng-model="article.keywords" required>
                        <br>


                        <label for=“author”>Author:</label>
                        <input type="text" ng-model="article.author" required>
                        <br>

                        <p id="textareap">
                            <label for=“abstract” class="labeltop">Abstract:</label>
                            <textarea ng-model="article.articleAbstract" rows="6"  cols="30" required></textarea>
                        </p>
                        <br>
                        <p id="radiop">
                            <label for=“published” class="radio-inline">Is the article published?:</label>
                            <label for=“published” class="radio-inline, radiotext">
                                <input type="radio" ng-model="article.published" class="radio-inline, radiotext">Yes
                            </label>
                            <label for=“published” class="radio-inline, radiotext">
                                <input type="radio" ng-model="article.published" class="radio-inline, radiotext">No
                            </label>
                        </p>
                        <br>
                        <br>
                        <button type="submit" class="raise, btn">Upload article</button>
                        <br>
                        <br>
                    </fieldset>

                </form>
            </div>
        </div>
    </body>
</html>
